<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="news-post-wrapper">
          <div id="article_view" class="news-post-wrapper-sm ">
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
   

    //getArticle(localStorage.getItem("article_id"));
    
    
    
    function getArticle(id){
      
    $.ajax({
      url: 'api/user/articles/'+id,
      type: 'GET',
      beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem('token'));},
      success: function(data){
        console.log(data);

          var html = '';
          var test = data.id;
          if(test == localStorage.getItem("article_id")){} else location.reload();
          console.log(test != localStorage.getItem("article_id"));
          
          
            html += '<h1 class="text-center">'+data.title+'</h1><div class="text-center"><a href="#" class="btn btn-dark font-weight-bold mb-4">'
            +data.category+'</a></div><p class="fs-15 d-flex justify-content-center align-items-center m-0"><img src="data:image/png;base64,'+data.picture64+'" class="img-fluid mb-4" style="width: 980px; height: 500px;"/>'
            +'<hr>30 May, 2021</p><p class="pt-4 pb-4">'+data.body+'</p>';
          
            
          $("#article_view").html(html);
         
      }

    });
    }
    window.onfocus = function() {
	    if(!window.location.hash) {
		    window.location = window.location + '#news_post';
		    window.location.reload();
	    }
    }
      
    
    
   /* $( "#news_post" )
  .focusout(function() {
    localStorage.removeItem("article_id");
  });
  $( "#news_post" ).focusin(function() {
    location.reload();
  });*/
  </script>