<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="news-post-wrapper">
          <div id="article_view" class="news-post-wrapper-sm ">
            
          </div>
          

          



        </div>

  <!--IMAGE THINGIE START-->
 <div id="imagesArt" style="margin-left: 190px;">

 </div>
  <!--IMAGE THINGIE END-->


  <div id="tags" class="text-center pb-5 mb-5 border-bottom">
    <a class="btn btn-dark font-weight-bold mr-2 mb-2 mb-sm-0">News</a>
    
  </div>





  <!--COMMENTS THINGIE START-->
<section class="content-item" id="comments">
  <div class="container">   
    <div class="row">
          <div class="col-sm-8">   
              <form>
                <h3>Add a comment</h3>
                <hr>
                <button type="submit" class="btn btn-outline-primary pull-right" onclick="addComment();">Submit</button>
                  <fieldset>
                      <div class="row">
                          
                          <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                              <input class="form-control" id="message" placeholder="Your comment" required=""></input>
                          </div>
                      </div>  	
                  </fieldset>
              </form>
              <hr>
              <div id="comments-post">
              <!-- COMMENT 1 - START -->
              
              <!-- COMMENT 1 - END -->
            </div>
             
            
          </div>
      </div>
  </div>
</section>

<!--COMMENTS THINGIE END-->


      </div>
    </div>
  </div>
  <hr>
  







  <script type="text/javascript">
   

    //getArticle(localStorage.getItem("article_id"));
    
    
    //articles
    function getArticle(id){
      
    $.ajax({
      url: 'api/user/articles/'+id,
      type: 'GET',
      beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem('token'));},
      success: function(data){
       

          var html = '';
          
            html += '<h1 class="text-center">'+data.title+'</h1><div class="text-center"><a href="#" class="btn btn-dark font-weight-bold mb-4">'
            +data.category+'</a></div><p class="fs-15 d-flex justify-content-center align-items-center m-0"><img src="data:image/png;base64,'+data.picture64+'" class="img-fluid mb-4" style="width: 980px; height: 500px;"/>'
            +'<hr>'+Date(data.added_at)+'</p><p class="pt-4 pb-4">'+data.body+'</p>';
          
            
          $("#article_view").html(html);
         
      }

    });
    }
    // Images
    function getImages(id){
      $.ajax({
      url: 'api/user/images/'+id,
      type: 'GET',
      beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem('token'));},
      success: function(data){
          var html = '';
          
          for(var i = 0; i < data.length; i++){
            html += '<img src="data:image/png;base64,'+data[i].picture64+'" style="width: 710px; height: 500px;"> <hr>';
            
          }
            
          $("#imagesArt").html(html);
      }

    });
    }

    window.onfocus = function() {
	    if(!window.location.hash) {
		    window.location = window.location + '#news_post';
		    window.location.reload();
	    }
    }
      
    //geting users by ID
    function getUser(id, handleData){
      var username = '';
      $.ajax({
        url: 'api/user/users/'+id,
        type: 'GET',
        beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem('token'));},
        success: function(data){
        
        }
  
      });
          
          
      }

 

            //Comments

      function getComments(id){
      
      $.ajax({
        url: 'api/user/comments/'+id,
        type: 'GET',
        beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem('token'));},
        success: function(data){
          console.log(data);
  
            var html = '';
            for(var i = 0; i < data.length; i++){
           
              html +='<div class="media"><div class="media-body"><h4 id = "username"class="media-heading">'+data[i].username+'</h4><p>'+data[i].comment_text+'</p><ul class="list-unstyled list-inline media-detail pull-left"><li>'+Date(data[i].added_at)+'</li></ul></div></div>';
              
            }
              
            $("#comments-post").html(html);
           
        }
  
      });
      }

      function addComment(){      
        var comment_info = {
            'article_id' : localStorage.getItem("article_id"),
            'comment_text' : $('#message').val(),
            'user_id' : localStorage.getItem("id"),
            'username' : localStorage.getItem("username"),
            'added_at' : Math.floor(Date.now() / 1000)
        }
        console.log(comment_info);
        $.post("api/comments", comment_info).done(function(data){
            console.log(data);
        }).fail(function(error){
            alert(error.responseJSON.message);
        });
      }

      
      
      
    function getTags(id){
      
      $.ajax({
        url: 'api/user/tags/'+id,
        type: 'GET',
        beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem('token'));},
        success: function(data){
          console.log(data);
  
            var html = '';
            for(var i = 0; i < data.length; i++){
              html +='<a class="btn btn-dark font-weight-bold mr-2 mb-2 mb-sm-0">'+data[i].tag_name+'</a>';
            }
              
            $("#tags").html(html);
           
        }
  
      });
      }

      

  </script>