<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <h1 class="text-center mt-5">
          Sports
        </h1>
        <p class="text-secondary fs-15">
          This is the latest in sports
        </p>
      </div>
      <h5 class="text-muted font-weight-medium mb-3">Sports News</h5>
    </div>
    <div class="container">
      <div class="popular-news">
        <div class="row">
          <div class="col-lg-3">
            <div class="d-flex position-relative float-left">
              <h3 class="section-title">Latest </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="articles-sports" class="col-lg-9">
            
  
          </div>
         
        </div>
      </div>
    </div>

<script type="text/javascript">

  

  function getArticlesSport(category){
  $.ajax({
    url: 'api/user/articles/cat/' + category,
    type: 'GET',
    beforeSend: function(xhr){xhr.setRequestHeader('Authentication', localStorage.getItem('token'));},
    success: function(data){
     
        console.log("hashah");
        var html = '<div class="row">';
        
        for(var i = 0; i < data.length; i++){
          
          html += '<div id="'+data[i].id+'" onclick="openPage();" class="col-sm-4 mb-5 mb-sm-2"><div class="position-relative image-hover">'
              +'<a onclick="openPage();"><img src="data:image/png;base64,'+data[i].picture64+'" class="img-fluid" style = "width:300px; height: 150px;" /></a>'
              +'<span class="thumb-title">'+data[i].category+'</span></div><h5 class="font-weight-600 mt-3">'
              +data[i].title+'</h5></div>'
            if((i+1) % 3 == 0){
              html += '</div><div class="row mt-3">'
            }
            
        }
        html += '</div>'
        
        $("#articles-sports").html(html);
    }

  });
  }

  getArticlesSport("SPORT");

  function openPage(){
    
    $('div.col-sm-4').click(function() {
      var id = $(this).attr('id');
      localStorage.removeItem("article_id");
      window.localStorage.setItem('article_id', id);
      changeLocations();
    }); 

    function changeLocations(){
      window.location = "#news_post";
    }
   
    


  
  }
</script>